body{
	color:#fff;
	background: hsla(345, 85%, 58%, 1);
	background: radial-gradient(circle, hsla(345, 85%, 58%, 1) 0%, hsla(218, 60%, 32%, 1) 100%);
	background: -moz-radial-gradient(circle, hsla(345, 85%, 58%, 1) 0%, hsla(218, 60%, 32%, 1) 100%);
	background: -webkit-radial-gradient(circle, hsla(345, 85%, 58%, 1) 0%, hsla(218, 60%, 32%, 1) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EF3866", endColorstr="#204482", GradientType=1 );
}